In [1]:
import imports as i
import importlib
importlib.reload(i)

c:\Users\Veronii\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

 ### Google Maps API Key

In [2]:
url_loc = "xxxxxxxxxx"
gmaps = i.googlemaps.Client(key='AIzaSyAEeHcVNM0m1665IxBA-JVD12Aob_Y2ga0')

In [3]:
cities = ['Copenhagen', 'Aalborg', 'Arhus']
loc_name = cities[0]    

#### this is the query list for the new reviews
gyms_v1 = ['PureGym Odense', 'SATS gym in Aarhus', 'SATS gym in Aalborg', 'SATS gym in Odense', 'PureGym Copenhagen', 'SATS gym in Copenhagen', 'gyms in Copenhagen','Vesterbronx Gym', 'PureGym Aalborg', 'PureGym Aarhus', 'SATS gyms']

place_details = gmaps.places(loc_name)

In [4]:
print(place_details['results'][0]['geometry']['location'])
print(place_details.keys())

place_results = gmaps.places(query=loc_name)

{'lat': 55.6760968, 'lng': 12.5683372}
dict_keys(['html_attributions', 'results', 'status'])

In [5]:
full_adress = place_details['results']
full_adress

[{'formatted_address': 'Copenhagen, Denmark',
  'geometry': {'location': {'lat': 55.6760968, 'lng': 12.5683372},
   'viewport': {'northeast': {'lat': 55.7270937, 'lng': 12.7342654},
    'southwest': {'lat': 55.615441, 'lng': 12.4533824}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/geocode-71.png',
  'icon_background_color': '#7B9EB0',
  'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet',
  'name': 'Copenhagen',
  'photos': [{'height': 1200,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/103711582209233100096">markusrobbe</a>'],
    'photo_reference': 'AWU5eFjFXRYMKJLOA6WvgrYVCnyXRQidd5-Y8xWbpJcv6kZuOqYh6z4eEgUWjvnB44kBY7f5wPzm3fRQ2LuHMExPmuBKGUdV_U5n6zyb0aXC6l-kNgF86VXpWPEewVPFBtTMCx6H3cbS4ZQOfn0fCPBTN6TsnWVYBOdkT7Ya9ZMozK-2RVdz',
    'width': 1600}],
  'place_id': 'ChIJIz2AXDxTUkYRuGeU5t1-3QQ',
  'reference': 'ChIJIz2AXDxTUkYRuGeU5t1-3QQ',
  'types': ['locality', 'political']}]

In [6]:
### do not run this again, instead, take the already saved file from the data folder;

def day_schedule_periods(weekday_text):
    days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    some_d = {}

    for _ in range(len(weekday_text)):
        open = weekday_text[_]['open']
        close = weekday_text[_]['close']

        open_t = i.datetime.strptime(open['time'], "%H%M")
        close_t = i.datetime.strptime(close['time'], "%H%M")

        formatted_time_open = open_t.strftime("%I:%M%p")
        formatted_time_close = close_t.strftime("%I:%M%p")

        day = weekday_text[_]['open']['day']
        some_d[days[day]] = formatted_time_open + " - " + formatted_time_close
    return some_d



data_list = []

for gym in gyms_v1:  # for all types of location in the list
    places_results = gmaps.places(query=gym)

    if places_results['status'] == 'OK' and len(places_results['results']) > 0:
        for place in places_results['results']:
            place_id = place['place_id']
            place_details = gmaps.place(place_id)

            if 'reviews' in place_details['result']:
                location = place_details['result']['geometry']['location']
                lat = location['lat']
                lng = location['lng']
                name = place_details['result']['name']

                for review in place_details['result']['reviews']:
                    author_name = review['author_name']
                    rating = review['rating']
                    text = review['text']

                    if 'current_opening_hours' in place_details['result']:
                        weekday_text = place_details['result']['current_opening_hours']['periods']
                        m_f_schedule = day_schedule_periods(weekday_text)
                    else:
                        m_f_schedule = {}

                    data_list.append({
                        'place_id': place_id,
                        'type': gym,
                        'name': name,
                        'lat': lat,
                        'lng': lng,
                        'author_name': author_name,
                        'rating': rating,
                        'text': text,
                        'opening_hours': m_f_schedule,
                    })

df = i.pd.DataFrame(data_list)

for var in df['opening_hours'][0]:
    df[var] = df['opening_hours'].apply(lambda x: x[var] if var in x else None)

df = df.drop_duplicates(subset=['place_id', 'author_name', 'text', 'rating'])
df.reset_index(drop=True, inplace=True)

In [7]:
### read the csv file, do not create it again
df = i.pd.read_csv('../data/raw_data/google_reviews.csv')
df

,place_id,type,name,lat,lng,author_name,rating,text,opening_hours
0,ChIJh3mB6UxSUkYREbiH4JDK-7M,PureGym Copenhagen,PureGym,55.669812,12.547390,madi sharp,4,"Sweet small gym, staff are kind when you see t...","{'Monday': '05:00AM - 12:00AM', 'Tuesday': '05..."
1,ChIJh3mB6UxSUkYREbiH4JDK-7M,PureGym Copenhagen,PureGym,55.669812,12.547390,Lewis Atkins,2,"Just a very bad gym. Staff donâ€™t really care, ...","{'Monday': '05:00AM - 12:00AM', 'Tuesday': '05..."
2,ChIJh3mB6UxSUkYREbiH4JDK-7M,PureGym Copenhagen,PureGym,55.669812,12.547390,Eric,1,"terrible facilities\nbathrooms are gross, dirt...","{'Monday': '05:00AM - 12:00AM', 'Tuesday': '05..."
3,ChIJh3mB6UxSUkYREbiH4JDK-7M,PureGym Copenhagen,PureGym,55.669812,12.547390,Rune Perstrup,1,An Unhygienic Coronavirus Petri Dish.\n\nI hav...,"{'Monday': '05:00AM - 12:00AM', 'Tuesday': '05..."
4,ChIJh3mB6UxSUkYREbiH4JDK-7M,PureGym Copenhagen,PureGym,55.669812,12.547390,Mario Piazza,1,In a huge gym there is only one hair dryer and...,"{'Monday': '05:00AM - 12:00AM', 'Tuesday': '05..."
...,...,...,...,...,...,...,...,...,...
355,ChIJ_3VSVXVTUkYRcL27iNyZCuY,Vesterbronx Odense,Vesterbronx Gym,55.672805,12.550887,Jacob Fassler,5,"Having trained all over the world, I can confi...","{'Monday': '08:00AM - 06:00PM', 'Tuesday': '06..."
356,ChIJ_3VSVXVTUkYRcL27iNyZCuY,Vesterbronx Odense,Vesterbronx Gym,55.672805,12.550887,Virginia Hutauruk,5,Been to 40+ gyms around the world and this is ...,"{'Monday': '08:00AM - 06:00PM', 'Tuesday': '06..."
357,ChIJ_3VSVXVTUkYRcL27iNyZCuY,Vesterbronx Odense,Vesterbronx Gym,55.672805,12.550887,Alissa Orr,5,Fantastic gym with tons of equipment. Plenty o...,"{'Monday': '08:00AM - 06:00PM', 'Tuesday': '06..."
358,ChIJ_3VSVXVTUkYRcL27iNyZCuY,Vesterbronx Odense,Vesterbronx Gym,55.672805,12.550887,Oussama K,5,Best gym Iâ€™ve ever went to. Very friendly staf...,"{'Monday': '08:00AM - 06:00PM', 'Tuesday': '06..."
359,ChIJ_3VSVXVTUkYRcL27iNyZCuY,Vesterbronx Odense,Vesterbronx Gym,55.672805,12.550887,OLIVER CREGENZAN ALBERTI,5,"Good location, reasonably good price for Danis...","{'Monday': '08:00AM - 06:00PM', 'Tuesday': '06..."

In [8]:
df['type'].value_counts()
### saved the data 
#df.to_csv('../data/only_gym_reviews.csv', index=False)

type
PureGym Copenhagen        100
PureGym Arhus              80
SATS Copenhagen            65
PureGym Aalborg            45
PureGym Odense             45
SATS Aalborg                5
Vesterbronx Copenhagen      5
Vesterbronx Aalborg         5
Vesterbronx Arhus           5
Vesterbronx Odense          5
Name: count, dtype: int64

In [9]:
sats = df[df['type'] == 'SATS Copenhagen']
sats['text'].iloc[0]

'In Copenhagen for 6 nights and my hotel had a terrible gym, so I searched for a nearby gym and found SATS. I found this gym to be great! It has just enough equipment to get in a good workout. I never had to wait for anything. The team was also super helpful with getting me day passes.'

### Supermarkets/parks

In [10]:

# Define the type of place you want to go after/before gym
attractions = ['bakery','Arca gym', 'supermarket', 'park', 'mall', 'restaurant', 'bar', 'outdoor gym', 'caffe', 'PureGym Copenhagen','School gym','Copenhagen gym', 'parkere']
#place_type = "supermarket"
kount = 0
# Define the location (latitude and longitude) and radius of the search area
location = (55.669812, 12.547390)
radius = 5000  # Specify the radius in meters


for atr in attractions:
    places_results = gmaps.places_nearby(location=location, radius=radius, type=atr)
    for place in places_results['results']:
    # Extract information about each supermarket or park
        place_id = place['place_id']
        place_details = gmaps.place(place_id)
        place_name = place_details['result']['name']
        place_address = place_details.get('vicinity', '')
        
        #print(place_name, " ", atr, place_details['result'])
        kount +=1
        
    break
print(kount)

20

### Read in the annotations and make a new df with the necessary data

In [11]:
annot = i.pd.read_json('../Annotations/Responses/bogdan_annotated.json')
anno_res = annot[['id', 'annotations', 'data',]]

In [12]:
### extracting annotations and data from the json file
### check up
## annot['annotations'][0][0]['result'][0]['value']['taxonomy'][1]

def extract_sentiment(annotations):
    for annotation in annotations:
        for value in annotation['result']:
            if 'taxonomy' in value['value']:
                return value['value']['taxonomy'][0][0]
    return None  # Handle cases where no sentiment is found

def extract_category(annotations):
    categories = []
    for annotation in annotations:
        for value in annotation['result']:
            if 'taxonomy' in value['value']:
                return value['value']['taxonomy'][1:]
    return categories

### create new columns for the sentiment and category
anno_res['sentiment'] = anno_res['annotations'].apply(extract_sentiment)
anno_res['category'] = anno_res['annotations'].apply(extract_category)

C:\Users\Veronii\AppData\Local\Temp\ipykernel_23356\2770289464.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anno_res['sentiment'] = anno_res['annotations'].apply(extract_sentiment)
C:\Users\Veronii\AppData\Local\Temp\ipykernel_23356\2770289464.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anno_res['category'] = anno_res['annotations'].apply(extract_category)

In [13]:
anno_res

,id,annotations,data,sentiment,category
0,1,"[{'id': 2, 'completed_by': 1, 'result': [{'val...","{'ID': 3, 'text': 'Sweet nice young people wor...",Positive,"[[Positive, Staff]]"
1,2,"[{'id': 3, 'completed_by': 1, 'result': [{'val...","{'ID': 4, 'text': 'Has trained for many years ...",Positive,"[[Positive, Equipment], [Positive, Staff]]"
2,3,"[{'id': 4, 'completed_by': 1, 'result': [{'val...","{'ID': 6, 'text': 'I exercise early in the mor...",Positive,[[Negative]]
3,4,"[{'id': 5, 'completed_by': 1, 'result': [{'val...","{'ID': 7, 'text': 'there is a nice atmosphere ...",Positive,[]
4,5,"[{'id': 6, 'completed_by': 1, 'result': [{'val...","{'ID': 8, 'text': 'I trained 4-6 times a week ...",Positive,"[[Positive, Equipment], [Positive, Staff]]"
...,...,...,...,...,...
197,198,"[{'id': 199, 'completed_by': 1, 'result': [{'v...","{'ID': 606, 'text': 'Great gym with all necess...",Positive,"[[Positive, Equipment]]"
198,199,"[{'id': 200, 'completed_by': 1, 'result': [{'v...","{'ID': 607, 'text': 'Its nice Gym to work out ...",Positive,"[[Positive, Hygiene]]"
199,200,"[{'id': 201, 'completed_by': 1, 'result': [{'v...","{'ID': 608, 'text': 'Its a nice and clean gymðŸ’ª...",Positive,"[[Positive, Hygiene]]"
200,201,"[{'id': 202, 'completed_by': 1, 'result': [{'v...","{'ID': 609, 'text': 'One the my favourite pla...",Positive,[]
201,202,"[{'id': 203, 'completed_by': 1, 'result': [{'v...","{'ID': 610, 'text': 'It's a great gym unfortun...",Positive,[]