In [1]:
import imports as i
import importlib
import folium
importlib.reload(i)

 ### Google Maps API Key

In [3]:
url_loc = "xxxxxxxxxx"
gmaps = i.googlemaps.Client(key='AIzaSyAEeHcVNM0m1665IxBA-JVD12Aob_Y2ga0')

In [4]:
cities = ['Copenhagen', 'Aalborg', 'Arhus']
loc_name = cities[0]    

#### this is the query list for the new reviews
gyms_v1 = ['PureGym Odense', 'SATS gym in Aarhus', 'SATS gym in Aalborg', 'SATS gym in Odense', 'PureGym Copenhagen', 'SATS gym in Copenhagen', 'gyms in Copenhagen','Vesterbronx Gym', 'PureGym Aalborg', 'PureGym Aarhus', 'SATS gyms']

place_details = gmaps.places(loc_name)

In [5]:
print(place_details['results'][0]['geometry']['location'])
print(place_details.keys())

place_results = gmaps.places(query=loc_name)

{'lat': 55.6760968, 'lng': 12.5683372}
dict_keys(['html_attributions', 'results', 'status'])

In [6]:
full_adress = place_details['results']
full_adress

[{'formatted_address': 'Copenhagen, Denmark',
  'geometry': {'location': {'lat': 55.6760968, 'lng': 12.5683372},
   'viewport': {'northeast': {'lat': 55.7270937, 'lng': 12.7342654},
    'southwest': {'lat': 55.615441, 'lng': 12.4533824}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/geocode-71.png',
  'icon_background_color': '#7B9EB0',
  'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet',
  'name': 'Copenhagen',
  'photos': [{'height': 1200,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/103711582209233100096">markusrobbe</a>'],
    'photo_reference': 'AWU5eFgC8fxgeLdbhRVJ3kzvYYRtuNjqjouIIZHDcFd59HNjM-3So3nVfnLXE0JKTKfrzSbzC-ne8N4eFVA-LEUMES8sgQTLoxcLSBHJb4sWZcwP3DDWzhS7Vl9GCUGCJGtxQGXY_-ps6Z1KmJZN0ZlgD-Ps13emuskB6UZyQL8SC6Nwb74J',
    'width': 1600}],
  'place_id': 'ChIJIz2AXDxTUkYRuGeU5t1-3QQ',
  'reference': 'ChIJIz2AXDxTUkYRuGeU5t1-3QQ',
  'types': ['locality', 'political']}]

In [6]:
### do not run this again, instead, take the already saved file from the data folder;

def day_schedule_periods(weekday_text):
    days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    some_d = {}

    for _ in range(len(weekday_text)):
        open = weekday_text[_]['open']
        close = weekday_text[_]['close']

        open_t = i.datetime.strptime(open['time'], "%H%M")
        close_t = i.datetime.strptime(close['time'], "%H%M")

        formatted_time_open = open_t.strftime("%I:%M%p")
        formatted_time_close = close_t.strftime("%I:%M%p")

        day = weekday_text[_]['open']['day']
        some_d[days[day]] = formatted_time_open + " - " + formatted_time_close
    return some_d



data_list = []

for gym in gyms_v1:  # for all types of location in the list
    places_results = gmaps.places(query=gym)

    if places_results['status'] == 'OK' and len(places_results['results']) > 0:
        for place in places_results['results']:
            place_id = place['place_id']
            place_details = gmaps.place(place_id)

            if 'reviews' in place_details['result']:
                location = place_details['result']['geometry']['location']
                lat = location['lat']
                lng = location['lng']
                name = place_details['result']['name']

                for review in place_details['result']['reviews']:
                    author_name = review['author_name']
                    rating = review['rating']
                    text = review['text']

                    if 'current_opening_hours' in place_details['result']:
                        weekday_text = place_details['result']['current_opening_hours']['periods']
                        m_f_schedule = day_schedule_periods(weekday_text)
                    else:
                        m_f_schedule = {}

                    data_list.append({
                        'place_id': place_id,
                        'type': gym,
                        'name': name,
                        'lat': lat,
                        'lng': lng,
                        'author_name': author_name,
                        'rating': rating,
                        'text': text,
                        'opening_hours': m_f_schedule,
                    })

df = i.pd.DataFrame(data_list)

for var in df['opening_hours'][0]:
    df[var] = df['opening_hours'].apply(lambda x: x[var] if var in x else None)

df = df.drop_duplicates(subset=['place_id', 'author_name', 'text', 'rating'])
df.reset_index(drop=True, inplace=True)

In [7]:
### read the csv file, do not create it again
df = i.pd.read_csv('../data/raw_data/google_reviews.csv')
df

,place_id,type,name,lat,lng,author_name,rating,text,opening_hours
0,ChIJh3mB6UxSUkYREbiH4JDK-7M,PureGym Copenhagen,PureGym,55.669812,12.547390,madi sharp,4,"Sweet small gym, staff are kind when you see t...","{'Monday': '05:00AM - 12:00AM', 'Tuesday': '05..."
1,ChIJh3mB6UxSUkYREbiH4JDK-7M,PureGym Copenhagen,PureGym,55.669812,12.547390,Lewis Atkins,2,"Just a very bad gym. Staff don‚Äôt really care, ...","{'Monday': '05:00AM - 12:00AM', 'Tuesday': '05..."
2,ChIJh3mB6UxSUkYREbiH4JDK-7M,PureGym Copenhagen,PureGym,55.669812,12.547390,Eric,1,"terrible facilities\nbathrooms are gross, dirt...","{'Monday': '05:00AM - 12:00AM', 'Tuesday': '05..."
3,ChIJh3mB6UxSUkYREbiH4JDK-7M,PureGym Copenhagen,PureGym,55.669812,12.547390,Rune Perstrup,1,An Unhygienic Coronavirus Petri Dish.\n\nI hav...,"{'Monday': '05:00AM - 12:00AM', 'Tuesday': '05..."
4,ChIJh3mB6UxSUkYREbiH4JDK-7M,PureGym Copenhagen,PureGym,55.669812,12.547390,Mario Piazza,1,In a huge gym there is only one hair dryer and...,"{'Monday': '05:00AM - 12:00AM', 'Tuesday': '05..."
...,...,...,...,...,...,...,...,...,...
355,ChIJ_3VSVXVTUkYRcL27iNyZCuY,Vesterbronx Odense,Vesterbronx Gym,55.672805,12.550887,Jacob Fassler,5,"Having trained all over the world, I can confi...","{'Monday': '08:00AM - 06:00PM', 'Tuesday': '06..."
356,ChIJ_3VSVXVTUkYRcL27iNyZCuY,Vesterbronx Odense,Vesterbronx Gym,55.672805,12.550887,Virginia Hutauruk,5,Been to 40+ gyms around the world and this is ...,"{'Monday': '08:00AM - 06:00PM', 'Tuesday': '06..."
357,ChIJ_3VSVXVTUkYRcL27iNyZCuY,Vesterbronx Odense,Vesterbronx Gym,55.672805,12.550887,Alissa Orr,5,Fantastic gym with tons of equipment. Plenty o...,"{'Monday': '08:00AM - 06:00PM', 'Tuesday': '06..."
358,ChIJ_3VSVXVTUkYRcL27iNyZCuY,Vesterbronx Odense,Vesterbronx Gym,55.672805,12.550887,Oussama K,5,Best gym I‚Äôve ever went to. Very friendly staf...,"{'Monday': '08:00AM - 06:00PM', 'Tuesday': '06..."
359,ChIJ_3VSVXVTUkYRcL27iNyZCuY,Vesterbronx Odense,Vesterbronx Gym,55.672805,12.550887,OLIVER CREGENZAN ALBERTI,5,"Good location, reasonably good price for Danis...","{'Monday': '08:00AM - 06:00PM', 'Tuesday': '06..."

### Raw extracted Data

In [83]:
raw_gmaps = i.pd.read_csv('../data/google_reviews.csv')
raw_trust = i.pd.read_csv('../data/trustpilot_reviews_translated.csv', encoding='utf-16')
raw_trust.rename(columns={'translated_reviews':'text'}, inplace=True)
raw_trust.rename(columns={'title':'type'}, inplace=True)



#### combining the datasets to include the type(location) and rating

gmaps = raw_gmaps[['type', 'text', 'rating']]
trust = raw_trust[['type', 'text', 'rating']]

combined_raw = i.pd.concat([gmaps, trust])
combined_raw['first_7'] = combined_raw['text'].apply(lambda x: x[:7].lower())

combined = combined_raw.drop_duplicates()


indexes = combined.index
combined['ID'] = indexes
combined

/var/folders/bz/l0bd4nmx6qg59xrx76lhbzd00000gn/T/ipykernel_25401/3579318814.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined['ID'] = indexes

,type,text,rating,first_7,ID
0,PureGym Odense,Can't complain. They do their job very well an...,5,can't c,0
1,PureGym Odense,Big gym spanning 3 floors. Good selection of b...,2,big gym,1
2,PureGym Odense,Love this gym! Best instructors and facilities...,5,love th,2
3,PureGym Odense,Fine place but watch your parking meter.,4,fine pl,3
4,PureGym Odense,Lots of space and it's nice and clean,5,lots of,4
...,...,...,...,...,...
216,SATS Glostrup,I have been a member of Sats for years and in ...,2,i have,216
217,Plads til alle i Birker√∏d,Have now trained regularly in SATS Birker√∏d fo...,5,have no,217
218,Altid dejligt at komme forbi SATS i‚Ä¶,Always nice to get past SATS in Frederikssund.,5,always,218
219,Forf√¶rdlig forl√∏b hos sats,"Terrible course with the rate, Sats sends mine...",1,terribl,219
220,Professionel r√•dgivning,"Professional advice, high quality machines for...",4,profess,220

### Datasets annotated

In [91]:
### extracting annotations and data from the json file
### check up
## annot['annotations'][0][0]['result'][0]['value']['taxonomy'][1]

def extract_sentiment(annotations):
    for annotation in annotations:
        for value in annotation['result']:
            if 'taxonomy' in value['value']:
                return value['value']['taxonomy'][0][0]
    return None  # Handle cases where no sentiment is found

def extract_category(annotations):
    categories = []
    for annotation in annotations:
        for value in annotation['result']:
            if 'taxonomy' in value['value']:
                return value['value']['taxonomy'][1:]
    return categories

### create new columns for the sentiment and category
#anno_res['sentiment'] = anno_res['annotations'].apply(extract_sentiment)
#anno_res['category'] = anno_res['annotations'].apply(extract_category)

def annotations_combined():
    # JSON formatted responses path
    path = "../Annotations/Responses/"

    # Container for individual annotation responses datasets
    dfs = []

    # Look at the JSON files, parse and join
    for file in i.os.listdir(path):
        if file.endswith(".json"):
            # Use our custom function to parse the response file
            df = i.parse_file(path + file)
            # Append to the container
            dfs.append(df)

    # Join all files
    annotations = i.pd.concat(dfs).reset_index(drop=True)

    return annotations

df_annotated = annotations_combined()
df_annotated['first_11'] = df_annotated['text'].apply(lambda x : x[:11].lower())
df_annotated

extract_text = lambda x: x[x.find("-") + 1:x.find(".")]
# Apply the lambda function to create a new 'extracted_text' column
df_annotated['person'] = df_annotated['annotator'].apply(extract_text)

# Define a lambda function to modify the entries
modify_name = lambda x: 'Gino' if x == 'testing' or x == 'dataset_for_annotations' else x

# Apply the lambda function to modify the 'person' column from testing to Gino
df_annotated['person'] = df_annotated['person'].apply(modify_name)
df_annotated['person'].value_counts()
df_annotated = df_annotated.drop_duplicates()
df_annotated['first_11'].duplicated().sum()

473

### List of Id's in we have annotated in commmon

In [20]:
lst_id_common = [4,
 8,
 12,
 13,
 15,
 16,
 19,
 20,
 25,
 28,
 29,
 37,
 38,
 45,
 49,
 51,
 54,
 64,
 70,
 71,
 72,
 75,
 77,
 78,
 81,
 87,
 96,
 97,
 98,
 110,
 112,
 114,
 121,
 129,
 132,
 134,
 139,
 140,
 141,
 142,
 149,
 151,
 155,
 158,
 159,
 169,
 172,
 173,
 177,
 183,
 187,
 188,
 189,
 190,
 191,
 194,
 196,
 197,
 198,
 199,
 204,
 208,
 211,
 214,
 216,
 219,
 226,
 234,
 240,
 249,
 251,
 370,
 375,
 382,
 384,
 387,
 390,
 391,
 393,
 397,
 398,
 406,
 409,
 412,
 416,
 423,
 425,
 430,
 434,
 435,
 439,
 440,
 451,
 490,
 585,
 604,
 607,
 608,
 609,
 610]

### Datasets annotated and with rating included

In [99]:
df_common = df_annotated[df_annotated['ID'].isin(lst_id_common)]
df_different = df_annotated[~df_annotated['ID'].isin(lst_id_common)]

df_different_annot = i.pd.merge(df_common, combined, left_on='text', right_on= 'text', how='left')
df_common_annot = i.pd.merge(df_different, combined, left_on='text', right_on='text', how='left')

df_different_annot

,ID_x,text,annotator,Not Determined,Equipment,Staff,Hygiene,Location,first_11,person,type,rating,first_7,ID_y
0,4,Has trained for many years here and Bornholmsv...,8413a258-Christian.csv,NaN,1.0,1.0,NaN,NaN,has trained,Christian,Har Tr√¶net i mangen √•r her f√•r mest ud af det ...,5.0,has tra,3.0
1,8,"I trained 4-6 times a week for several years, ...",8413a258-Christian.csv,1.0,1.0,1.0,NaN,1.0,i trained 4,Christian,Altid et tr√¶ningscenter t√¶t p√•,5.0,i train,7.0
2,12,We train in PureGym at Christianshavn. It is a...,8413a258-Christian.csv,0.0,NaN,1.0,1.0,1.0,we train in,Christian,Christianshavn - et center med h√∏jt til loftet.,5.0,we trai,11.0
3,13,New dumbbells are nice. The center always has ...,8413a258-Christian.csv,-1.0,1.0,1.0,NaN,NaN,new dumbbel,Christian,Centeret har altid en god tone og et im√∏dekomm...,4.0,new dum,12.0
4,15,Great to get going! Sometimes it can be diffic...,8413a258-Christian.csv,NaN,NaN,1.0,NaN,NaN,great to ge,Christian,Super fedt at komme afsted!,4.0,great t,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,604,Old and No ergonomic equipment for free weight...,0fe50f89-Veron.csv,-1.0,-1.0,NaN,NaN,NaN,old and no,Veron,SATS gyms,2.0,old and,398.0
496,607,Its nice Gym to work out its clean and well or...,0fe50f89-Veron.csv,1.0,NaN,NaN,1.0,NaN,its nice gy,Veron,SATS gyms,5.0,its nic,401.0
497,608,Its a nice and clean gymüí™. Bra personal. I lov...,0fe50f89-Veron.csv,1.0,NaN,NaN,1.0,NaN,its a nice,Veron,SATS gyms,5.0,its a n,402.0
498,609,One the my favourite place!!!,0fe50f89-Veron.csv,1.0,NaN,NaN,NaN,NaN,one the my,Veron,SATS gyms,5.0,one the,403.0
499,610,It's a great gym unfortunately they closed the...,0fe50f89-Veron.csv,0.0,NaN,NaN,NaN,NaN,it's a grea,Veron,SATS gyms,4.0,it's a,404.0

In [105]:
#df_different_annot.to_csv('../data/anot_different.csv', index=True)
#df_common_annot.to_csv('../data/anot_common.csv', index=True)