# Parse annotation responses Notebook

In [1]:
import imports as i
import importlib
importlib.reload(i)

c:\Users\Veronii\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# JSON formatted responses path
path = "../Annotations/Responses/"

# Container for individual annotation responses datasets
dfs = []

# Look at the JSON files, parse and join
for file in i.os.listdir(path):
    if file.endswith(".json"):
        # Use our custom function to parse the response file
        df = i.parse_file(path + file)
        # Append to the container
        dfs.append(df)

# Join all files
annotations = i.pd.concat(dfs).reset_index(drop=True)

print(f"A total of {annotations.shape[0]} are now joined.")

A total of 1010 are now joined.

In [3]:
annotations
# annotations.to_csv("annotations.csv", index=False, encoding="utf-16")

,ID,text,Not Determined,Staff,Equipment,Hygiene,Location
0,3,"Sweet nice young people working, they have a s...",1.0,1.0,NaN,NaN,NaN
1,4,Has trained for many years here and Bornholmsv...,1.0,1.0,1.0,NaN,NaN
2,6,I exercise early in the morning and start befo...,0.0,NaN,NaN,NaN,NaN
3,7,there is a nice atmosphere in the morning ther...,1.0,NaN,NaN,NaN,NaN
4,8,"I trained 4-6 times a week for several years, ...",1.0,1.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...
1005,604,Old and No ergonomic equipment for free weight...,-1.0,NaN,-1.0,NaN,NaN
1006,607,Its nice Gym to work out its clean and well or...,1.0,NaN,NaN,1.0,NaN
1007,608,Its a nice and clean gymðŸ’ª. Bra personal. I lov...,1.0,NaN,NaN,1.0,NaN
1008,609,One the my favourite place!!!,1.0,NaN,NaN,NaN,NaN
1009,610,It's a great gym unfortunately they closed the...,0.0,NaN,NaN,NaN,NaN

### Calcaute overall IAA (Krippendorff's Alpha)

In [4]:
categories = annotations.columns[2:]

alpha = i.krippendorff_alpha(annotations, categories)

print(f"The Krippendorff's Alpha for IAA is: {alpha:.2f}")

# in this approach, we have would have a total of 25 columns, where each set of five columns corresponds to one category. 
# for example, the first five columns would be the ratings from all five annotators for the "Not Determined" category, the next five columns for the "Staff" category, and so on.

The Krippendorff's Alpha for IAA is: 0.06

### Calcaute IAA for each category (Krippendorff's Alpha)

In [5]:
categories = annotations.columns[2:]
category_alphas = i.krippendorff_alpha_per_category(annotations, categories)

for category, alpha in category_alphas.items():
    print(f"The Krippendorff's Alpha for {category}: {alpha:.2f}")

The Krippendorff's Alpha for Not Determined: -0.00
The Krippendorff's Alpha for Staff: -0.00
The Krippendorff's Alpha for Equipment: -0.00
The Krippendorff's Alpha for Hygiene: -0.02
The Krippendorff's Alpha for Location: 0.07